* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  /* background-color: #3a3939; */
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: 500px;
  height: 80%;
  background-color: black;
  border-radius: 50px;
  border: 2px solid gainsboro;
  padding: 20px;
  box-shadow: 8px 10px 13px -1px rgba(219, 207, 207, 0.39);
}

.blank {
  height: 180px;
  width: 420px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
